html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

/* Specify our own scrolling container */
#scrolling-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#scrolling-container .titleInput {
  flex-shrink: 0;
  margin: 0 15px;
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 18px 0;
  box-sizing: border-box;
  font-size: 18px;
}

#scrolling-container .titleInput textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  height: 1.1em;
  font-size: 18px;
  font-weight: 600;
  resize: none;
}

#scrolling-container .titleInput textarea:focus {
  outline: 0;
}

#editor {
  flex: 1;
  font-size: 16px;
  font-family: PingFang SC, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #303030;
  height: unset;
}

#editor .ql-editor {
  /* min-height: 100%; */
  height: 100%;
  overflow: unset;
}

#editor .ql-editor .quill-hashtag {
  color: #007bff;
}

#editor .ql-editor .quill-img {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}

#editor .ql-editor .quill-img:focus {
  outline: none;
  pointer-events: none;
}

#editor .ql-editor .quill-img:focus::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: url(~/assets/close.svg);
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 2;
  pointer-events: auto;
}

#editor .ql-editor .quill-img:focus::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

#editor .ql-editor img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  display: block;
  position: relative;
}

#editor .ql-editor.ql-blank::before {
  font-family: PingFang SC, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #adadad;
}

#scrolling-container .hide {
  display: none;
}

#scrolling-container .test {
  display: none;
}

#scrolling-container .test.flot {
  position: absolute;
  bottom: 0;
  left: 15;
  right: 15;
}
