p {
  font-size: 4vw;
}

.quill-img img {
  width: 100%;
  height: auto;
  display: block;
  position: "relative";
}

.quill-textLine.coin {
  color: #007bff;
}

.quill-textLine.top {
  color: #ffa033;
}
