/* 修改此文件需要同步替换light、分享页项目样式、cms帖子举报-举报内容样式 */
html,
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
span {
  font-size: 18px;
  line-height: 1.55;
  font-family: PingFang SC, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #e6e6e6;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 16px !important;
}

:not(p) + p {
  margin-top: 16px !important;
}

p:last-of-type {
  margin-bottom: 0 !important;
}

.quill-img img {
  width: 100%;
  height: auto;
  display: block;
}

.quill-textLink.coin span {
  color: #007bff !important;
}

.quill-textLink.topic span {
  color: #ffa033 !important;
}
