.dark-mode #scrolling-container {
  background-color: #141414;
}

.dark-mode #scrolling-container .titleInput {
  border-bottom: 1px solid #000;
}

.dark-mode #title {
  color: #e6e6e6;
  background-color: transparent;
}

.dark-mode #title::placeholder {
  color: #6e6e6e;
}

.dark-mode #editor .ql-editor .quill-img:focus::after {
  background-image: url(~/assets/close-dark.svg);
}

.dark-mode #editor .ql-editor .quill-img:focus::before {
  background-color: white;
  opacity: 0.6;
}

.dark-mode #editor .ql-editor.ql-blank::before {
  color: #6e6e6e;
}
